nav { 
    text-align: center;
    background-color: #83c5be;
}

span.navbar-text {
    padding-right: 20px;
    font-family: 'Hind', sans-serif;
}
main {
    background-color: #edf6f9;
    font-family: 'Hind', sans-serif;
}

h2 {
    padding-left: 30px;
    padding-top: 10px;
    font-family: 'Bebas Neue', cursive;
}

h3 {
    padding-top: 20px;
}

form {
    display: inline;
}

.form-control {
    background-color: lightgray;
}

#results {
    padding: 20px;
}

#books {
    border-top: dotted; 
    overflow: hidden;
    height: 200px;
}

#description {
    visibility: hidden;

}

img {
    visibility: hidden;
}

/* ***************************
** Tablet Media Query
*************************** */

@media screen and (min-width: 480px) {
    img {
        float: right;
        /* visibility: visible; */
    }
}

/* ***************************
** Desktop Media Query
*************************** */

@media screen and (min-width: 995px) {
    #books {
        height: 100%;
        border-top: none;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        transform: scale(1.25);
        margin: auto;
        visibility: visible;
    }

    #description {
        visibility: visible;
    }
}